
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

input[type=checkbox]:focus {
  outline: 0;
}

.workorders__checkbox{
  &-input{
    height: 52px;
    width: 416px;
    border-radius: 28px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: white;
    transition: all 0.2s ease;

    &:after{
      content: "";
      position: absolute;
      top: -2px;
      left: -1px;
    
      width: 192px;
      height: 51px;
      
      border-radius: 32px;
      background: black;
      box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
      transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
    }

    &:checked{
      border-color: #654FEC;

          &:after{
              transform: translatex(222px);
          }
    }
  }
}



 
 
  
  .workorders__checkbox{
    display: flex;
    justify-content: center;
    grid-gap: 1rem;
    margin: 1rem 0 !important;

      &--title-left, &--title-right{
           display:flex;
           justify-content:center;
           align-items: center;
           margin:0 1rem;
           font-size: 1.1rem;
           color: lighten(black,50%)
      }
  }
