.workorders{

        &__container{
          max-width: 62.5rem;
          margin: 2rem auto;
        }
  

      &__heading{
        text-align:center;
        
      }
}

.workorders__searchByInput{
  display:flex;
  justify-content: center;
 

      input{
        width: 80%;
        margin: 1rem auto;
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
        
        border: 2px solid grey;
        border-color: lighten(black, 70%);
      }
  
}



.workorders{
  

  &__allorders{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5.1rem;
  justify-content:center;
    margin-top: 2rem;

  }


}

.workorders{

  &__order-details{
    border: 1px solid grey;
    width: 22.5rem;
    background-color:lighten(grey, 45%);

    &-name{
      text-align:center;
      margin: 1rem;
      font-weight:bold;
    }

    &-description{
      text-align:left;
      margin: .5rem 1.5rem;
    }
    
  }

  &__order-deadline{
    display:flex;
    justify-content:right;
    margin: 1rem;
    font-style: italic;
    font-size: .85rem;
  }

  
}

.workorders__worker{
  
    display:flex;
    flex-direction: row;
    margin: 1rem;

    &--img{
      img{
        border-radius: 50%;
        width: 150px;
      }
    

    }

    &--description{
      margin: 1.2rem;
      // display:flex;
      // flex-direction:column;
      // flex-wrap: wrap;

        &--workerName{
          font-size: 1.2rem
        }
        &--companyName{
          font-size: .85rem
        }
        &--email{
          font-size: .9rem
        }
    }
}